name: camera_module
services:
  camera_module:
    container_name: camera_module
    image: ghcr.io/ad-sdl/camera_module
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - ghcr.io/ad-sdl/camera_module:latest
        - ghcr.io/ad-sdl/camera_module:dev
    command: python camera_module/src/camera_rest_node.py --node_definition definitions/camera_node_template.node.yaml
    volumes:
      - ./definitions:/home/madsci/definitions
    privileged: true
    network_mode: host
